@import "../../global.scss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
:root{
    --gradient:linear-gradient(170deg, #250333, #491163,#0a0369
    ,#000053, #14027c,#8ed9f7);
    --gradient2:linear-gradient(180deg, #250333, #032a3a,#1e1741);
}

.intro{
    background:var(--gradient2);
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    
    .left{
        flex:0.5;
        .imgContainer{
            width: 700px;
            height: 700px;
            background:var(--gradient);
            background-size: 300%;
            background-position: left;
            transition: background-position 1350ms;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin: 20px;

            @include mobile{
                align-items: flex-start;
            }
            
            img{
                width: 100%;
                height: 96%;

                @include mobile{
                    height: 50%;
                }
            }
        }
 
    }
    .imgContainer:hover {
        background-position: right;
    }
    .right{
        flex:0.5;
        position: relative;
        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile{

                padding-left: 0;
                align-items: center;
            }
            h1{
                font-size: 60px;
                margin:10px 0;
                font-family: 'Lobster', cursive;
                color:#0E4944;

                @include mobile{
                    font-size: 40px;
                }
            }
            h2{
                font-size: 135px;
                animation: animate 4s linear infinite;

                

            }
            @keyframes animate {
                0%,50%
                {
                    color: #0E3742;
                    text-shadow: none;
                }
                75%,100%{
                    color:#0E3742;
                    text-shadow: 0 0 10px #03bcf4

                }
                
            }
            h3{
                font-size: 30px;
                @include mobile{
                    font-size: 20px;
                }
                
                span{
                    font-size: 30px;
                    color:#0E4944;
                    animation: animate 4s linear infinite;
                    @include mobile{
                        font-size: 25px;
                    }
                }
                .ityped-cursor{
                    animation: blink 1s infinite;
                    
                }
                @keyframes blink {
                    50%{
                        opacity: 1;
                    }
                    100%{
                        opacity: 0;
                    }
                }
            }
        }
        a{
            position: absolute;
            bottom: 10px;
            left: 40%;
            img{
                width: 100px;
                animation: arrowBlink 0.7s infinite;
            }
            @keyframes arrowBlink {
                100%{
                    opacity: 0;
                }
                
            }
        }

    }
}